body {
  background: linear-gradient(to right, #00E39F, #00C4E1);
  color: #111111;
  font-family: 'Quicksand', sans-serif;
}


li, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  margin-top: 10px;
}

li {
  font-size: 0.8rem;
  margin-bottom: 8px;
  text-align: center;
  color: #959595;
}

li:last-of-type {
  margin-bottom: 50px;
}

.Card {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  border-radius: 10px;
  background-color: #e3e7f7;
  box-shadow: 0 5px 3px 0 #eff0f2;
}

.header {
  position: relative;
  font-size: 20px;
  margin: 12px 0;
  color: #3e3f3f;
}

.header::after {
  content: '';
  position: absolute;
  left: -50%;
  bottom: -10px;
  width: 200%;
  height: 1px;
  background-color: #f1f1f1;
}


.searchBar:focus {
  outline-width: 0;
}

.searchBar::placeholder {
  color: #dadada;
}

.isLoading {
  margin: 30px 0;
  width: 150px;
  filter: opacity(0.3);
}
